* {
  padding: 0;
  margin: 0;
}
nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
nav a:hover {
  color: yellow;
}


